# Copy to .env.development and fill in values.

# Application Environment
# API Server
API_PORT=4040
API_BASE_PATH=/api

# Client
CLIENT_PORT=3000

# Database
DB_NAME=development.sqlite.db

# Authentication
AUTH_SECRET=change-me-to-a-32-char-random-string
AUTH_URL=http://localhost:4040
AUTH_COOKIE_PREFIX=monorepo-starter
TOKEN_COOKIE_SUFFIX=session_token
DATA_COOKIE_SUFFIX=session_data
# Controls whether JWT sessions are invalidated when the server restarts
AUTH_INVALIDATE_JWT_ON_SERVER_BOOT=false
